[Unit]
Description=Nginx Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx:stable
ExecStart=/usr/bin/docker run \
    -d \
    --name %n \
    --restart=unless-stopped \
    -v /usr/local/bin/docker/nginx/config/nginx.conf:/etc/nginx/nginx.conf \
    -p 80:80 \
    nginx:stable

[Install]
WantedBy=default.target
